$primary-color: orange;
$secondary-color: coral;
$font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$heading-color: white;
$text-color: black;
$larger-font-size: 2rem;
$larger-heading-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
